@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Poppins:wght@500&family=Raleway&family=Roboto&display=swap');


*{
    box-sizing: border-box;
  }

body{
    margin: 0;
    font-family:'Poppins', sans-serif; ;
}
.header{
    display: flex;
    justify-content: center;
    margin-top:10px;
}
.banner-container{

    background-color: #161616;
    border-radius:20px ;
    color: white;
    width: 1000px;
    height: 400px;
    display: flex;  
    align-items: center;
    justify-content: center;
    overflow:hidden;
    
    /* width: 1100px;
    height: 600px; */
}
.header-description{
    margin-left: 5%;
    /* margin-bottom: 50px; */
    /* position: relative;
    top: -50px; */
}
h1{
    font-size: 2.2rem;
    font-weight: 700px;
    /* line-height: 80px;  */
}
.ellepsis p {
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 30px;
    display: none;
    color: white
  }
.writing{
    margin-left:100px ;
    margin-top: 50px;
   
}
.header-description h3{
    font-size: .8em;
    margin-bottom: 45px;
}
.button{
    text-decoration: none;
    background-color:#DD0000;
    color: white;
    padding:16px 25px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center ;
    transition: transform .5s linear 0s;
}
.button:hover{
    background-color: greenyellow;
    color: black;
}
.header-pic img{
    width: 100%;
    /* position: relative;
    left: 60px;
    top: 40px; */
}

.half-width{
    width: 50%;
}
/*------------------------
 main body starts from here 
 ------------------------*/
 /* .main-container{
    width: 80%; 
 } */
.flex-side-content{
    display: flex;
    justify-content:center;
    /* margin: 20px; */
    margin-top: 50px;
    gap: 15px;
    margin: 60px;
 }
.side-content{
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 300px;
    background-color:#161616;
    border-radius: 10px;
    /* text-align: center; */
    align-items: center
 }
#selected{
    background-color: red;
 }
.container{
    width: 200px;
    height: 60px;
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 8px;
    text-align: center;
    margin-top: 30px;
    padding-top: 12px;
 }
.container a{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    transition: .5s;
 }
.container:hover{
    background-color: greenyellow;
    transform: scale(1.1);
 }
.card{
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 300px;
    border: .5px solid black;
    border-radius: 8px;
    box-shadow: 0px 1px 10px rgb(188, 181, 181);
 }
.transfer{
    font-size: 16px;
    width: 100px;
    border: .5px #161616 solid;
    margin: 3%;
    border-radius: 5px;
 }
.card p{
    margin-left: 10px;
 }
 
.blog-footer-item {
    font-size: 15px;
    margin-left: 10px;
  }
  
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }
  /*---------------------
   view all design
   --------------------- */
   
   .view-all{
    display: none;
   }
/* ----------------------
footer starts from here 
-----------------------*/
.footer-section {
    margin-top: 30px;
    text-align: center;
    background: #000000;
    color: #ffffff;
  }
  .footer-section h1 {
    padding: 80px 0 50px;
  }
  .footer-line {
    width: 80%;
    margin: 0 auto;
    opacity: 0.2;
    margin-bottom: 50px;
  }
  .footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .footer-menu a {
    margin: 0 20px;
    color: #ada9a9;
    text-decoration: none;
  }
  .footer-menu a:hover{
    color: white;
  }
  .footer-social-icon {
    padding-bottom: 25px;
  }
  .footer-social-icon a {
    margin: 0 10px;
    padding: 6px 9px;
    border-radius: 50%;
    background: rgb(49, 47, 47);
    font-size: 15px;
    color: #b3b3b3;
  }
  .footer-social-icon a:hover{
    background-color: white;
    color: #161616;
  }
/* ----------------
responsiveness
 ----------------*/
 @media only screen and (max-width:600px) {
    /* .banner-description p{
        Contrary to popular belief, is not simply  random text.
    } */
    .first-banner{
        width: 100%;
        height: 800px;
    }
    .banner-container{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: auto;
        align-content: center;
    }
    
    .header-description{
        width: 100%;
    }
    .ellepsis{
        display:visible;
    }
    .header-pic img{
        width: 100%;
    }

    .half-width{
        width: 100%;
    }

    /* .header,main,footer {
        width: 100%;
    } */

    .container{
     border: #000000 solid 1.5px;
    }
    .side-content{
        width: auto;
        background-color: #ffffff;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        /* width: 80%; */
    }
    .card{
        width: 100%;
        height: auto;
    }
    .upcoming-match-img{
        width: 100%;
    }
    .flex-side-content{
        display: flex;
        flex-direction: column;
        text-align: center;
    }     
    .view-all{
        display: none;
    }

   /* footer Section  */
   .footer-section {
    margin-top: 50px;
    text-align: center;
    background: black;
    color: white;
    margin-right: 0%;
  }
  .footer-section h1 {
    padding: 40px 50px;
  }
  .footer-line {
    width: 80%;
    margin: 0 auto;
    opacity: 0.2;
    margin-bottom:20px;
  }
  .footer-menu {
    display: grid;
  }
    }

    

 @media only screen and (min-width:600px) and (max-width:992px){
    .banner-container{
        display: flex;
        justify-content: center;
        background-color: #161616;
        width: 734px;
        height: 398px;
        border-radius: 20px;
        color: white;
        padding-left: 40px;
      }
.flex-side-content{
    display: block;
}
.side-content{
    background-color:#ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.container{
    gap: 50px;
}
.upcoming-match-img{
    width: 100%;
}

.cards{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.card{
    width: 100%;
    height: auto;
}
.view-all{
    justify-content: center;
    border: 1px solid red;
    background-color: #DD0000;
    color: white;
    border-radius: 5px;
    font-size:2rem;
    padding: 1.2% 2%;
    display: block;
   }
.view-all-flex{
    display: flex;
    justify-content: center;
}
.view-all:hover{
    border: 1px solid lightgreen;
    color: black;
    background-color: lightgreen;
    box-shadow: 2px 2px rgb(145, 145, 230);
   }
 }


